name: Smart Contract Deployment

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v3
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup target add wasm32-unknown-unknown
      - run: cargo install --locked --version 20.3.0 soroban-cli --features opt
      - name: Build required did contract wasm
        run: |
          soroban contract build --package soroban-did-contract
      - name: Optimize soroban_did_contract.wasm
        run: |
          soroban contract optimize --wasm target/wasm32-unknown-unknown/release/soroban_did_contract.wasm
      - name: Build required vault contract wasm
        run: |
          soroban contract build --package vault-contract
      - name: Build contracts
        run: |
          soroban contract build
      - name: Code Tests
        run: |
          cargo test
      - name: Deploy VC issuance contract to testnet
        run: |
          soroban contract deploy \
          --wasm target/wasm32-unknown-unknown/release/vc_issuance_contract.wasm \
          --source ${{ secrets.DEPLOYER_SECRET }} \
          --rpc-url https://soroban-testnet.stellar.org:443/ \
          --network-passphrase 'Test SDF Network ; September 2015'
      - name: Deploy Vault contract to testnet
        run: |
          soroban contract deploy \
          --wasm target/wasm32-unknown-unknown/release/vault_contract.wasm \
          --source ${{ secrets.DEPLOYER_SECRET }} \
          --rpc-url https://soroban-testnet.stellar.org:443/ \
          --network-passphrase 'Test SDF Network ; September 2015'
