name: Smart Contract Build & Test

on:
  push:
    branches:
      - main
      - "v*.[0-9]"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          submodules: recursive
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup target add wasm32-unknown-unknown
      - run: cargo install --locked --version 20.3.4 soroban-cli --features opt
      - name: Build required did contract wasm
        run: |
          soroban contract build --package soroban-did-contract
      - name: Optimize soroban_did_contract.wasm
        run: |
          soroban contract optimize --wasm target/wasm32-unknown-unknown/release/soroban_did_contract.wasm
      - name: Contract Build
        run: |
          soroban contract build
      - name: Add clippy
        run: |
          rustup component add clippy
      - name: Code Verifications
        run: |
          cargo clippy --all-targets --all-features -- -D warnings
      - name: Format code
        run: |
          cargo fmt --check
      - name: Code Tests and coverage
        uses: actions-rs/tarpaulin@044a1e5bdace8dd2f727b1af63c1d9a1d3572068 # v0.1.3
        with:
          version: 0.27.3
          # Due to a bug with cargo-tarpaulin crate with multi-line chain calls, the test coverage was reduced.
          # https://github.com/xd009642/tarpaulin/issues/949
          args: --all-features --fail-under 95 --out Lcov
      - name: Upload to Coveralls
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949 # v2.2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "./lcov.info"
