name: Smart Contract Build & Test

on:
  push:
    branches:
      - main
      - "v*.[0-9]"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v3
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup target add wasm32-unknown-unknown
      # - name: Contract Build
      #   run: |
      #     cargo build --target wasm32-unknown-unknown --release
      # - name: Code Verifications
      #   run: |
      #     cargo clippy --all-targets --all-features -- -D warnings
      - name: Format code
        run: |
          cargo fmt --check
      - name: Code Tests and coverage
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: 0.18.0
          args: --all-features --fail-under 100.0
